# Configuración de Eclipse
.classpath
.project
.settings/

# Código compilado
bin/

# Dependencias de Node.js (si decides usar npm o yarn)
node_modules/

# Archivos de compilación o build
dist/
build/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración de IDEs
.idea/
.vscode/
*.iml

# Archivos temporales
*.log
*.tmp

# Configuración de entorno local
.env

# Ignorar todo en la carpeta db
RevistaModa/db/*

# Permitir específicamente la base de datos
!RevistaModa/db/revistaModa.db
